@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Italianno&display=swap');

@import "tailwindcss";


 #para {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

 
 
 
 #heading {
  font-family: "Italianno", cursive;
  font-weight: 500;
  font-style: normal;
}